<?xml version="1.0" encoding="UTF-8"?>

<Settings>
    <Setting>
        <settingid>1</settingid>
        <taskseq>1-2-3-4-5</taskseq>
        <Job>
            <taskid>1</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>2</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>3</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>4</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>5</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
    </Setting>
    <Setting>
        <settingid>2</settingid>
        <taskseq>1-2-3-4-5</taskseq>
        <Job>
            <taskid>1</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>2</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>3</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>4</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>5</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
    </Setting>
    <Setting>
        <settingid>3</settingid>
        <taskseq>1-2-3-4-5</taskseq>
        <Job>
            <taskid>1</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>2</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>3</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>4</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>5</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
    </Setting>
    <Setting>
        <settingid>4</settingid>
        <taskseq>1-2-3-4-5</taskseq>
        <Job>
            <taskid>1</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>2</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>3</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>4</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>5</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
    </Setting>
    <Setting>
        <settingid>5</settingid>
        <taskseq>1-2-3-4-5</taskseq>
        <Job>
            <taskid>1</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>2</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>3</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>4</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>5</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
    </Setting>
    <Setting>
        <settingid>6</settingid>
        <taskseq>1-2-3-4-5</taskseq>
        <Job>
            <taskid>1</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>2</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>3</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>4</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
        <Job>
            <taskid>5</taskid>
            <docseq>1-2-3-4</docseq>
        </Job>
    </Setting>
</Settings>