<!DOCTYPE html>
<html>


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>THUIR Experiment System</title>
    <script>
        function redirect() {
            var username = document.getElementById("username");
            var pass = document.getElementById("password");
            setCookie('studentid', username, '', '/', '', '')
            if (username.value == "") {
                alert("Username?");
                username.focus();
                return;
            }
            else if (pass.value == "") {
                alert("Password?");
                return;
            }
            else if ((!isNaN(username.value))) {
                obj = document.getElementById("tasktype")
                var index = obj.selectedIndex;
                var expType = obj.options[index].value;
                setCookie('settingid', expType,'','/','','')
                setCookie('studentid', username.value, '', '/', '', '')
                window.location.href = '/jobs/' + expType
                return;
            }
            else {
                alert("Login Failure, Check your username and password");
                alert(username.value);
                return;
            }
            return true;
        }


    </script>

    <script>
        function getCookieVal(offset) {
            var endstr = document.cookie.indexOf(";", offset);
            if (endstr == -1) {
                endstr = document.cookie.length;
            }
            return unescape(document.cookie.substring(offset, endstr));
        }

        // primary function to retrieve cookie by name
        function getCookie(name) {
            var arg = name + "=";
            var alen = arg.length;
            var clen = document.cookie.length;
            var i = 0;
            while (i < clen) {
                var j = i + alen;
                if (document.cookie.substring(i, j) == arg) {
                    return getCookieVal(j);
                }
                i = document.cookie.indexOf(" ", i) + 1;
                if (i == 0) break;
            }
            return null;
        }

        // store cookie value with optional details as needed
        function setCookie(name, value, expires, path, domain, secure) {
            document.cookie = name + "=" + escape(value) +
                    ((expires) ? "; expires=" + expires : "") +
                    ((path) ? "; path=" + path : "") +
                    ((domain) ? "; domain=" + domain : "") +
                    ((secure) ? "; secure" : "");
        }

        // remove the cookie by setting ancient expiration date
        function deleteCookie(name, path, domain) {
            if (getCookie(name)) {
                document.cookie = name + "=" +
                        ((path) ? "; path=" + path : "") +
                        ((domain) ? "; domain=" + domain : "") +
                        "; expires=Thu, 01-Jan-1970 00:00:01 GMT";

            }
        }

        function resetTime() {
            setCookie('time', 0, '', '/', '', '');
        }
        var strcookie = document.cookie;

    </script>
</head>
<body>

<h1 style="color:blue; text-align:center">Experiment System</h1>


<form align=center>
    <table align="center">
        <tr align="center">
            <td>Config:</td>
            <td>
                <select align="center" style="width:130px" id="tasktype">
                    {% for t in allsettings %}
                        <option value="{{ t }}">{{ t }} </option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr align=center>
            <td>Username:</td>
            <td><input type="text" name="username" id="username"></td>
        </tr>
        <tr align=center>
            <td>Password:</td>
            <td><input type="password" name="password" id="password"></td>
        </tr>

        <tr align=center>
            <td colspan="2"><input type="button" value="Login" onclick="redirect()"/>
                <input type="reset" value="Reset"/></td>
        </tr>

    </table>
</form>
<div style="text-align: center">
    <p>Please login with your 10-digit Experiment ID (for example, 0123456789), the password is 'a'</p>
</div>


</body>
</html>