<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Relative Estimation</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/static/conf/anno_log.js"></script>
    <link href="/static/conf/button.css" type="text/css" rel="stylesheet">
    <link href="/static/conf/annotation.css" type="text/css" rel="stylesheet">

    <style>
        #eq > span {
            height: 320px;
            float: left;
            margin: 15px
        }
    </style>
    <script>
        var jobid = {{ taskid }};
        var docid = 0;
        var currentTaskID = {{ taskid }};
        $(function () {

            // setup graphic EQ
            $("#eq > span").each(function () {
                // read initial values from markup and remove that
                var value = parseInt($(this).text(), 10);
                $(this).empty().slider({
                    value: value,
                    range: "min",
                    animate: true,
                    orientation: "vertical"
                });
            });

            $("#slider-range1").slider({
                range: true,
                min: 0,
                max: 30,
                values: [0, 30],
                slide: function (event, ui) {
                    $("#amount1").val(ui.values[0] * 10 + "秒 - " + ui.values[1] * 10 + "秒");
                }
            });
            $("#amount1").val($("#slider-range1").slider("values", 0) * 10 + "秒" +
                    " - " + $("#slider-range1").slider("values", 1) * 10 + "秒");

             $("#slider-range2").slider({
                range: true,
                min: 0,
                max: 30,
                values: [0, 30],
                slide: function (event, ui) {
                    $("#amount2").val(ui.values[0] * 10 + "秒 - " + ui.values[1] * 10 + "秒");
                }
            });
            $("#amount2").val($("#slider-range2").slider("values", 0) * 10 + "秒" +
                    " - " + $("#slider-range2").slider("values", 1) * 10 + "秒");

             $("#slider-range3").slider({
                range: true,
                min: 0,
                max: 30,
                values: [0, 30],
                slide: function (event, ui) {
                    $("#amount3").val(ui.values[0] * 10 + "秒 - " + ui.values[1] * 10 + "秒");
                }
            });
            $("#amount3").val($("#slider-range3").slider("values", 0) * 10 + "秒" +
                    " - " + $("#slider-range3").slider("values", 1) * 10 + "秒");

             $("#slider-range4").slider({
                range: true,
                min: 0,
                max: 30,
                values: [0, 30],
                slide: function (event, ui) {
                    $("#amount4").val(ui.values[0] * 10 + "秒 - " + ui.values[1] * 10 + "秒");
                }
            });
            $("#amount4").val($("#slider-range4").slider("values", 0) * 10 + "秒" +
                    " - " + $("#slider-range4").slider("values", 1) * 10 + "秒");

             $("#slider-rangeall").slider({
                range: true,
                min: 0,
                max: 90,
                values: [0, 90],
                slide: function (event, ui) {
                    $("#amountall").val(ui.values[0] * 10 + "秒 - " + ui.values[1] * 10 + "秒");
                }
            });
            $("#amountall").val($("#slider-rangeall").slider("values", 0) * 10 + "秒" +
                    " - " + $("#slider-rangeall").slider("values", 1) * 10 + "秒");
        });
    </script>
</head>
<body>
<div class="annotation_header">
    <h2>请分别估计在每篇文档中花费时间的范围，以及阅读4篇文档总共花费时间的范围</h2>

    <div style="width:300px">
        <h3>第1篇文档：</h3>
        <p>
            <label for="amount1">时间区间</label>
            <input type="text" id="amount1" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="slider-range1"></div>
    </div>

    <div style="width:300px">
        <h3>第2篇文档：</h3>
        <p>
            <label for="amount2">时间区间</label>
            <input type="text" id="amount2" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="slider-range2"></div>
    </div>

    <div style="width:300px">
        <h3>第3篇文档：</h3>
        <p>
            <label for="amount3">时间区间</label>
            <input type="text" id="amount3" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="slider-range3"></div>
    </div>

    <div style="width:300px">
        <h3>第4篇文档：</h3>
        <p>
            <label for="amount4">时间区间</label>
            <input type="text" id="amount4" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="slider-range4"></div>
    </div>

    <div style="width:900px">
        <h3 style="color:red">四篇文档合计花费时间</h3>
        <p>
            <label for="amountall">时间区间</label>
            <input type="text" id="amountall" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="slider-rangeall"></div>
    </div>
</div>



<div class="annotation_header">
    <h2> 下面图中，从左至右分布代表第1篇至第4篇文档花费的时间，请调节每条线段，估计出每篇文档上花费的时间。</h2>
</div>
<div style="align:center">
    <div id="eq">
        <span>80</span>
        <span>80</span>
        <span>80</span>
        <span>80</span>
    </div>
</div>
<div>
    <button class="WCOverButton button blue close-reveal-modal align" type="Button"
            onclick="click_on_submitrelative();">
        Submit Estimation
    </button>
</div>

<script>
    function getRelative() {
        value = "";
        $("#eq > span").each(function () {
            // read initial values from markup and remove that
            value += $(this).slider("value") + "_";
        });
        return value;
    }
    ;

    function getRange(){
        var rtr = "";
        var i = 1;
        for(i = 1;i<5;i++){
            rtr += '_' + $("#slider-range"+i).slider("values", 0)+'_' + $("#slider-range"+i).slider("values", 1);
        }
        rtr += '_' + $("#slider-rangeall").slider("values", 0)+'_' + $("#slider-rangeall").slider("values", 1)
        return rtr;

    }

</script>


</body>
</html>