<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Relative Estimation</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/static/conf/anno_log.js"></script>
    <link href="/static/conf/button.css" type="text/css" rel="stylesheet">
    <link href="/static/conf/annotation.css" type="text/css" rel="stylesheet">

    <style>
        #eq > span {
            height: 320px;
            float: left;
            margin: 15px
        }
    </style>
    <script>
        var jobid = {{ taskid }};
        var docid = 0;
        var currentTaskID = {{ taskid }};
        $(function () {

            // setup graphic EQ
            $("#eq > span").each(function () {
                // read initial values from markup and remove that
                var value = parseInt($(this).text(), 10);
                $(this).empty().slider({
                    value: value,
                    range: "min",
                    animate: true,
                    orientation: "vertical"
                });
            });

            $("#slider-range1").slider({
                range: true,
                min: 0,
                max: 30,
                values: [0, 30],
                slide: function (event, ui) {
                    $("#amount1").val(ui.values[0] * 10 + "s - " + ui.values[1] * 10 + "s");
                }
            });
            $("#amount1").val($("#slider-range1").slider("values", 0) * 10 + "s" +
                    " - " + $("#slider-range1").slider("values", 1) * 10 + "s");

             $("#slider-range2").slider({
                range: true,
                min: 0,
                max: 30,
                values: [0, 30],
                slide: function (event, ui) {
                    $("#amount2").val(ui.values[0] * 10 + "s - " + ui.values[1] * 10 + "s");
                }
            });
            $("#amount2").val($("#slider-range2").slider("values", 0) * 10 + "s" +
                    " - " + $("#slider-range2").slider("values", 1) * 10 + "s");

             $("#slider-range3").slider({
                range: true,
                min: 0,
                max: 30,
                values: [0, 30],
                slide: function (event, ui) {
                    $("#amount3").val(ui.values[0] * 10 + "s - " + ui.values[1] * 10 + "s");
                }
            });
            $("#amount3").val($("#slider-range3").slider("values", 0) * 10 + "s" +
                    " - " + $("#slider-range3").slider("values", 1) * 10 + "s");

             $("#slider-range4").slider({
                range: true,
                min: 0,
                max: 30,
                values: [0, 30],
                slide: function (event, ui) {
                    $("#amount4").val(ui.values[0] * 10 + "s - " + ui.values[1] * 10 + "s");
                }
            });
            $("#amount4").val($("#slider-range4").slider("values", 0) * 10 + "s" +
                    " - " + $("#slider-range4").slider("values", 1) * 10 + "s");

             $("#slider-rangeall").slider({
                range: true,
                min: 0,
                max: 90,
                values: [0, 90],
                slide: function (event, ui) {
                    $("#amountall").val(ui.values[0] * 10 + "s - " + ui.values[1] * 10 + "s");
                }
            });
            $("#amountall").val($("#slider-rangeall").slider("values", 0) * 10 + "s" +
                    " - " + $("#slider-rangeall").slider("values", 1) * 10 + "s");
        });
    </script>
</head>
<body>
<div class="annotation_header">
    <h2>Please estimate the minimal and maximal time you have spent in each document</h2>

    <div style="width:300px">
        <h3>Doc 1 :</h3>
        <p>
            <label for="amount1">Time</label>
            <input type="text" id="amount1" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="slider-range1"></div>
    </div>

    <div style="width:300px">
        <h3>Doc 2 :</h3>
        <p>
            <label for="amount2">Time</label>
            <input type="text" id="amount2" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="slider-range2"></div>
    </div>

    <div style="width:300px">
        <h3>Doc 3 :</h3>
        <p>
            <label for="amount3">Time</label>
            <input type="text" id="amount3" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="slider-range3"></div>
    </div>

    <div style="width:300px">
        <h3>Doc 4 :</h3>
        <p>
            <label for="amount4">Time</label>
            <input type="text" id="amount4" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="slider-range4"></div>
    </div>


</div>


<div>
    <button class="WCOverButton button blue close-reveal-modal align" type="Button"
            onclick="click_on_time2();">
        Submit Estimation
    </button>
</div>

<script>
    function getRelative() {
        value = "";
        $("#eq > span").each(function () {
            // read initial values from markup and remove that
            value += $(this).slider("value") + "_";
        });
        return value;
    }
    ;

    function getRange(){
        var rtr = "";
        var i = 1;
        for(i = 1;i<5;i++){
            rtr += '_' + $("#slider-range"+i).slider("values", 0)+'_' + $("#slider-range"+i).slider("values", 1);
        }
        rtr += '_' + $("#slider-rangeall").slider("values", 0)+'_' + $("#slider-rangeall").slider("values", 1)
        return rtr;

    }

</script>


</body>
</html>